
section.info {
    width: 48%;
    margin: 0.5% 1%;
}
    table.info {
        width: 100%;
    }

section.goals {
    width: 48%;
    margin: 0.5% 1%;
}
    table.goals {
        width: 100%;
    }

