
.flex > div {
    width: 96%;
}

.weightGoals {
    margin-top: 2%;
}
    .weightGoals > div > div {
        border: 1px solid black;
        padding: 2%;
        margin: 0.5%;
    }


@media screen and (min-width: 480px) {

    .flex > div {
        width: 48%;
    }

}
